.list {
    margin: 0;
    padding: 10px 0 40px 0;
}
.item {
    padding: 5px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    height: 35px;
    border: solid, 2px, lightslategray;
    border-radius: 8px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.15), inset  3px 3px rgba( 0.5, 0, 0, 0.1);
}

.item:not(:last-child) {
    margin-bottom: 12px;
  }

button {
    padding: 5px 10px;
    background-color: darkolivegreen;
    border-radius: 12px;
    cursor: pointer;
}

.updateBtn {
    margin-right: 20px;
    color:lavender;
}
.name {
    margin-right: 20px;
    color:darkolivegreen;
}

.number {
    margin-right: 20px;
    color:darkolivegreen;
}