.wrapper {
    padding: 40px 0;
    text-align: center;
    background-image: url(../../images/background.jpg);
    width: 100%vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .title {
    margin-top: 100px;
    font-weight: 700;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.398);
  }
  
  .text {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(to right, #833ab4, #f50057, #fcb045, #b345fc) 47%
      0%;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
  }
  
  .info {
    font-size: 20px;
    color: var(--secondaryTextColor);
  }

  .link {
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: rgb(81, 11, 222);
    font-size: 18px;
  }
  
  .activeLink {
    color: #b37ddfcb;
  }